# Association Data Mining Task

In [4]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 11.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pandas>=0.24.2 in /Users/sanzi/.pyenv/versions/3.9.15/lib/python3.9/site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: numpy>=1.16.2 in /Users/sanzi/.pyenv/versions/3.9.15/lib/python3.9/site-packages (from mlxtend) (1.23.5)
Requirement already satisfied: setuptools in /Users/sanzi/.pyenv/versions/3.9.15/lib/python3.9/site-packages (from mlxtend) (65.6.3)
Collecting matplotlib>=3.0.0
  Downloading matplotlib-3.6.2-cp39-cp39-macosx_10_12_x86_64.whl (7.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.3/7.3 MB 23.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: joblib>=0.13.2 in /Users/sanzi/.pyenv/versions/3.9.15/lib/python3.9/site-packages (from mlxtend) (1.2.0)
Collecting scikit-learn>=1.0.2
  Downloading scikit_learn-1.1.3-cp39-cp39-macosx_10_9_x86_64.whl (8.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.7/8.7 MB 40.1 MB/s eta 0:00:00a 0:00:01
Collecting scipy>=1.2.1
  Downloading scipy-1.9.3-cp39-cp39-macosx_10_9_x86_64.whl (34.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.3/34.3 MB 32.2 MB/s eta 0:00:0000:0100:01
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting pillow>=6.2.0
  Downloading Pillow-9.3.0-cp39-cp39-macosx_10_10_x86_64.whl (3.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 39.8 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.7 in /Users/sanzi/.pyenv/versions/3.9.15/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/sanzi/.pyenv/versions/3.9.15/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 965.4/965.4 kB 36.2 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in /Users/sanzi/.pyenv/versions/3.9.15/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp39-cp39-macosx_10_9_x86_64.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.5/65.5 kB 8.4 MB/s eta 0:00:00
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.6-cp39-cp39-macosx_10_9_x86_64.whl (240 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 240.8/240.8 kB 22.6 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in /Users/sanzi/.pyenv/versions/3.9.15/lib/python3.9/site-packages (from pandas>=0.24.2->mlxtend) (2022.6)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: six>=1.5 in /Users/sanzi/.pyenv/versions/3.9.15/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: threadpoolctl, scipy, pillow, kiwisolver, fonttools, cycler, contourpy, scikit-learn, matplotlib, mlxtend

In [5]:
# Import all packages and modules needed
import pandas as pd
import numpy as np

# Libary to for apriori 
from mlxtend.frequent_patterns import apriori, association_rules

In [38]:
# Load the CSV file into a dataframe
df = pd.read_csv("/Users/sanzi/Desktop/project/data_mining/process data/crime_preprocess.csv", index_col=0)

In [39]:
df

,County,Agency,Year,Months Reported,Index Total,Violent Total,Murder,Rape,Robbery,Aggravated Assault,Property Total,Burglary,Larceny,Motor Vehicle Theft,Region
0,Albany,Albany City PD,2018,12.000000,3968.0,822.0,12.0,51.0,209.0,550.0,3146.0,432.0,2584.0,130.0,Non-New York City
1,Albany,Albany County Park PD,2018,7.000000,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,Non-New York City
2,Albany,Albany County Sheriff,2018,12.000000,130.0,16.0,0.0,6.0,0.0,10.0,114.0,19.0,82.0,13.0,Non-New York City
3,Albany,Albany County State Police,2018,12.000000,158.0,30.0,0.0,25.0,0.0,5.0,128.0,5.0,121.0,2.0,Non-New York City
4,Albany,Altamont Vg PD,2018,12.000000,7.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,6.0,0.0,Non-New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19951,Yates,County Total,1990,11.727995,507.0,34.0,0.0,5.0,0.0,29.0,473.0,104.0,361.0,8.0,Non-New York City
19952,Yates,Penn Yan Vg PD,1990,11.727995,142.0,3.0,0.0,1.0,0.0,2.0,139.0,11.0,123.0,5.0,Non-New York City
19953,Yates,Yates County Park PD,1990,11.727995,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,Non-New York City
19954,Yates,Yates County Sheriff,1990,11.727995,318.0,29.0,0.0,4.0,0.0,25.0,289.0,84.0,202.0,3.0,Non-New York City
19955,Yates,Yates County State Police,1990,11.727995,46.0,2.0,0.0,0.0,0.0,2.0,44.0,9.0,35.0,0.0,Non-New York City

In [40]:
# Examine shape of the dataframe
df.shape

(19572, 15)

Apriori Algorthim 
    - transforming the data into binary 1/0 values

In [41]:
from mlxtend.preprocessing import TransactionEncoder

In [42]:
# List of columns in the dataframe
for col in df.columns:
    print(col)

County
Agency
Year
Months Reported
Index Total
Violent Total
Murder
Rape
Robbery
Aggravated Assault
Property Total
Burglary
Larceny
Motor Vehicle Theft
Region

In [50]:
df["Violent Total"].unique()

array([ 822.,    0.,   16., ...,  266., 3871., 1004.])

In [117]:
df1 = df[["Violent Total",
          "Murder",
          "Robbery",
          "Aggravated Assault",
          "Property Total",
          "Burglary",
          "Larceny",
          "Motor Vehicle Theft"]]

In [118]:
df1

,Violent Total,Murder,Robbery,Aggravated Assault,Property Total,Burglary,Larceny,Motor Vehicle Theft
0,822.0,12.0,209.0,550.0,3146.0,432.0,2584.0,130.0
1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,16.0,0.0,0.0,10.0,114.0,19.0,82.0,13.0
3,30.0,0.0,0.0,5.0,128.0,5.0,121.0,2.0
4,0.0,0.0,0.0,0.0,7.0,1.0,6.0,0.0
...,...,...,...,...,...,...,...,...
19951,34.0,0.0,0.0,29.0,473.0,104.0,361.0,8.0
19952,3.0,0.0,0.0,2.0,139.0,11.0,123.0,5.0
19953,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
19954,29.0,0.0,0.0,25.0,289.0,84.0,202.0,3.0
19955,2.0,0.0,0.0,2.0,44.0,9.0,35.0,0.0

In [119]:
df2= df1.head()

In [120]:
df2

,Violent Total,Murder,Robbery,Aggravated Assault,Property Total,Burglary,Larceny,Motor Vehicle Theft
0,822.0,12.0,209.0,550.0,3146.0,432.0,2584.0,130.0
1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,16.0,0.0,0.0,10.0,114.0,19.0,82.0,13.0
3,30.0,0.0,0.0,5.0,128.0,5.0,121.0,2.0
4,0.0,0.0,0.0,0.0,7.0,1.0,6.0,0.0

In [ ]:
# Replace all values that are not 0 to binary value of 1
for i, row in df2.iterrows():
    murder = df2.at[i, 'Murder']
    violet = df2.at[i, 'Violent Total']
    robbery = df2.at[i, 'Robbery']
    assualt = df2.at[i, 'Aggravated Assault']
    property = df2.at[i, 'Property Total']
    burglary = df2.at[i, 'Burglary']
    larceny = df2.at[i, 'Larceny']
    motor = df2.at[i, 'Motor Vehicle Theft']
    if(murder != 0):
        #print("Non zero value")
        df2.at[i, 'Murder'] = 1
    if(violet != 0):
        #print("Non zero value")
        df2.at[i, 'Violent Total'] = 1
    if(robbery != 0):
        #print("Non zero value")
        df2.at[i, 'Robbery'] = 1
    if(assualt != 0):
        3print("Non zero value")
        df2.at[i, 'Aggravated Assault'] = 1
    if(property != 0):
        #print("Non zero value")
        df2.at[i, 'Property Total'] = 1
    if(burglary != 0):
        #print("Non zero value")
        df2.at[i, 'Burglary'] = 1
    if(larceny != 0):
        #print("Non zero value")
        df2.at[i, 'Larceny'] = 1
    if(motor != 0):
        #print("Non zero value")
        df2.at[i, 'Motor Vehicle Theft'] = 1

In [122]:
df2

,Violent Total,Murder,Robbery,Aggravated Assault,Property Total,Burglary,Larceny,Motor Vehicle Theft
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
3,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
4,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0

In [123]:
df2 = apriori(df2, min_support = 0.2, use_colnames = True, verbose = 1)
df2

Processing 8 combinations | Sampling itemset size 876

/Users/sanzi/.pyenv/versions/3.9.15/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                           itemsets
0        0.6                                    (Violent Total)
1        0.2                                           (Murder)
2        0.2                                          (Robbery)
3        0.6                               (Aggravated Assault)
4        1.0                                   (Property Total)
..       ...                                                ...
250      0.2  (Robbery, Motor Vehicle Theft, Property Total,...
251      0.2  (Motor Vehicle Theft, Property Total, Burglary...
252      0.2  (Robbery, Motor Vehicle Theft, Property Total,...
253      0.2  (Robbery, Motor Vehicle Theft, Property Total,...
254      0.2  (Robbery, Motor Vehicle Theft, Property Total,...

[255 rows x 2 columns]

In [124]:
df_ar = association_rules(df2, metric = "confidence", min_threshold = 0.6)

In [126]:
df_ar.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Murder),(Violent Total),0.2,0.6,0.2,1.0,1.666667,0.08,inf
1,(Robbery),(Violent Total),0.2,0.6,0.2,1.0,1.666667,0.08,inf
2,(Violent Total),(Aggravated Assault),0.6,0.6,0.6,1.0,1.666667,0.24,inf
3,(Aggravated Assault),(Violent Total),0.6,0.6,0.6,1.0,1.666667,0.24,inf
4,(Violent Total),(Property Total),0.6,1.0,0.6,1.0,1.000000,0.00,inf