Pre-processing for crime database of New York

In [21]:
import pandas as pd

In [22]:
# Read the CSV to a Dataframe
crime_df = pd.read_csv("/Users/sanzi/Desktop/project/data_mining/data/index-crimes-by-county-and-agency-beginning-1990.csv")

In [23]:
crime_df

,County,Agency,Year,Months Reported,Index Total,Violent Total,Murder,Rape,Robbery,Aggravated Assault,Property Total,Burglary,Larceny,Motor Vehicle Theft,Region
0,Albany,Albany City PD,2018,12.0,3968.0,822.0,12.0,51.0,209.0,550.0,3146.0,432.0,2584.0,130.0,Non-New York City
1,Albany,Albany County Park PD,2018,7.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,Non-New York City
2,Albany,Albany County Sheriff,2018,12.0,130.0,16.0,0.0,6.0,0.0,10.0,114.0,19.0,82.0,13.0,Non-New York City
3,Albany,Albany County State Police,2018,12.0,158.0,30.0,0.0,25.0,0.0,5.0,128.0,5.0,121.0,2.0,Non-New York City
4,Albany,Altamont Vg PD,2018,12.0,7.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,6.0,0.0,Non-New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19951,Yates,County Total,1990,NaN,507.0,34.0,0.0,5.0,0.0,29.0,473.0,104.0,361.0,8.0,Non-New York City
19952,Yates,Penn Yan Vg PD,1990,NaN,142.0,3.0,0.0,1.0,0.0,2.0,139.0,11.0,123.0,5.0,Non-New York City
19953,Yates,Yates County Park PD,1990,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,Non-New York City
19954,Yates,Yates County Sheriff,1990,NaN,318.0,29.0,0.0,4.0,0.0,25.0,289.0,84.0,202.0,3.0,Non-New York City
19955,Yates,Yates County State Police,1990,NaN,46.0,2.0,0.0,0.0,0.0,2.0,44.0,9.0,35.0,0.0,Non-New York City

**Data Pre-Processing Cleaning**

check what columns have null values

In [24]:
# Check which columns have NA values
crime_df.isna().any()

County                 False
Agency                 False
Year                   False
Months Reported         True
Index Total             True
Violent Total           True
Murder                  True
Rape                    True
Robbery                 True
Aggravated Assault      True
Property Total          True
Burglary                True
Larceny                 True
Motor Vehicle Theft     True
Region                 False
dtype: bool

In [25]:
# Find out which Columns have NaN which is only Months Reported
# Is na for all of 2001 - 1990
crime_df.loc[:, crime_df.isna().any()]

,Months Reported,Index Total,Violent Total,Murder,Rape,Robbery,Aggravated Assault,Property Total,Burglary,Larceny,Motor Vehicle Theft
0,12.0,3968.0,822.0,12.0,51.0,209.0,550.0,3146.0,432.0,2584.0,130.0
1,7.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,12.0,130.0,16.0,0.0,6.0,0.0,10.0,114.0,19.0,82.0,13.0
3,12.0,158.0,30.0,0.0,25.0,0.0,5.0,128.0,5.0,121.0,2.0
4,12.0,7.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
19951,NaN,507.0,34.0,0.0,5.0,0.0,29.0,473.0,104.0,361.0,8.0
19952,NaN,142.0,3.0,0.0,1.0,0.0,2.0,139.0,11.0,123.0,5.0
19953,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
19954,NaN,318.0,29.0,0.0,4.0,0.0,25.0,289.0,84.0,202.0,3.0
19955,NaN,46.0,2.0,0.0,0.0,0.0,2.0,44.0,9.0,35.0,0.0

In [38]:
# Unique Years 
years = pd.unique(crime_df['Year']).tolist()

In [39]:
years

[2018,
 2017,
 2016,
 2015,
 2014,
 2013,
 2012,
 2011,
 2010,
 2009,
 2008,
 2007,
 2006,
 2005,
 2004,
 2003,
 2002,
 2001,
 2000,
 1999,
 1998,
 1997,
 1996,
 1995,
 1994,
 1993,
 1992,
 1991,
 1990]

In [40]:
len(years)

29

In [41]:
# Replace the NaN values with the population mean from the Months Reported column
reported_mean = crime_df['Months Reported'].mean()
crime_df['Months Reported'].fillna(value=reported_mean, inplace=True)
crime_df

,County,Agency,Year,Months Reported,Index Total,Violent Total,Murder,Rape,Robbery,Aggravated Assault,Property Total,Burglary,Larceny,Motor Vehicle Theft,Region
0,Albany,Albany City PD,2018,12.000000,3968.0,822.0,12.0,51.0,209.0,550.0,3146.0,432.0,2584.0,130.0,Non-New York City
1,Albany,Albany County Park PD,2018,7.000000,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,Non-New York City
2,Albany,Albany County Sheriff,2018,12.000000,130.0,16.0,0.0,6.0,0.0,10.0,114.0,19.0,82.0,13.0,Non-New York City
3,Albany,Albany County State Police,2018,12.000000,158.0,30.0,0.0,25.0,0.0,5.0,128.0,5.0,121.0,2.0,Non-New York City
4,Albany,Altamont Vg PD,2018,12.000000,7.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,6.0,0.0,Non-New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19951,Yates,County Total,1990,11.727995,507.0,34.0,0.0,5.0,0.0,29.0,473.0,104.0,361.0,8.0,Non-New York City
19952,Yates,Penn Yan Vg PD,1990,11.727995,142.0,3.0,0.0,1.0,0.0,2.0,139.0,11.0,123.0,5.0,Non-New York City
19953,Yates,Yates County Park PD,1990,11.727995,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,Non-New York City
19954,Yates,Yates County Sheriff,1990,11.727995,318.0,29.0,0.0,4.0,0.0,25.0,289.0,84.0,202.0,3.0,Non-New York City
19955,Yates,Yates County State Police,1990,11.727995,46.0,2.0,0.0,0.0,0.0,2.0,44.0,9.0,35.0,0.0,Non-New York City

In [43]:
# drop na rows that have no data regarding the any of the atributes
crime_df = crime_df.dropna()

In [44]:
crime_df

,County,Agency,Year,Months Reported,Index Total,Violent Total,Murder,Rape,Robbery,Aggravated Assault,Property Total,Burglary,Larceny,Motor Vehicle Theft,Region
0,Albany,Albany City PD,2018,12.000000,3968.0,822.0,12.0,51.0,209.0,550.0,3146.0,432.0,2584.0,130.0,Non-New York City
1,Albany,Albany County Park PD,2018,7.000000,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,Non-New York City
2,Albany,Albany County Sheriff,2018,12.000000,130.0,16.0,0.0,6.0,0.0,10.0,114.0,19.0,82.0,13.0,Non-New York City
3,Albany,Albany County State Police,2018,12.000000,158.0,30.0,0.0,25.0,0.0,5.0,128.0,5.0,121.0,2.0,Non-New York City
4,Albany,Altamont Vg PD,2018,12.000000,7.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,6.0,0.0,Non-New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19951,Yates,County Total,1990,11.727995,507.0,34.0,0.0,5.0,0.0,29.0,473.0,104.0,361.0,8.0,Non-New York City
19952,Yates,Penn Yan Vg PD,1990,11.727995,142.0,3.0,0.0,1.0,0.0,2.0,139.0,11.0,123.0,5.0,Non-New York City
19953,Yates,Yates County Park PD,1990,11.727995,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,Non-New York City
19954,Yates,Yates County Sheriff,1990,11.727995,318.0,29.0,0.0,4.0,0.0,25.0,289.0,84.0,202.0,3.0,Non-New York City
19955,Yates,Yates County State Police,1990,11.727995,46.0,2.0,0.0,0.0,0.0,2.0,44.0,9.0,35.0,0.0,Non-New York City

In [45]:
# Save to a csv
crime_df.to_csv("/Users/sanzi/Desktop/project/data_mining/process data/crime_preprocess.csv")